
h1{
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 30px;
  color:#4d0f49 ;
  display: flex;
  margin-bottom: 16px;
  margin-top: 48px;
  border-top: 0.4px solid #c1c1cc;
}

h2{

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 28px;
    color:#6e053f ;
    display: flex;


}
.card-img-top{
  margin-bottom: 16px;
  margin-top: 48px;
  border-top: 0.4px solid #c1c1cc;
}


