@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #cc488a 16.62%, #095da1 85.61%);
}

.h1 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #380a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.form-codigoRMA {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #380a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Form-NomeAluno {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #380a36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

h3 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #550a51;

}

.media {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #550a51;
}

.badge badge-danger {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #550a51;

}

.badge badge-primary{
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #550a51;

}

.card-img-top{
  height: 350px;
    display: block;
    margin: 0 auto;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}
